.modal {
  background: rgb(255, 255, 255);
  padding: 4rem 6rem;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 2rem;
  gap: 1rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25), 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.modal h2 {
  color: var(--secondary);
  margin: 0;
  font-size: 3rem;
}

.modal p {
  font-size: 1.5rem;
}

.modal .restart {
  color: var(--primary);
  background: transparent;
  border: 0;
  text-transform: capitalize;
  font-family: var(--font);
  font-size: 1rem;
  margin: 0;
}
